
body {
    /*background-color: gray;
    background-image: url("../img/gummi.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
    background: url("../img/gummi.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

div#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: #FCFCFC;
    background: #333;
    padding: 8px
}

.infoTop {
    margin-top: 7%;
    text-align: center;
    padding: 1%;
    font-size: 1.5em

}

.infoGeneral {
    background-color: rgba(255,255,255,.50);
    margin-top: 10px;
    text-align: center;
    padding: 1%;
    font-size: 1em
}
.decoratedEdges {
    border-radius: 25px;
}
